.label {
    position: absolute;
    left: 7px;
    top: 50%;
    opacity: 0.9;
    cursor: pointer;
    font-size: 16px;
    padding: 0px 5px;
    color: rgba(0,0,0,0.8);
    transform: translateY(-50%);
    transition: 0.15s all;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: 0.15s all;
    -moz-transition: 0.15s all;
    -ms-transition: 0.15s all;
    -o-transition: 0.15s all;
}

.label.active {
    background-color: #f5f5f5;
    color: rgb(0,0,0);
    font-size: 15px;
    z-index: 100;
    opacity: 1;
    top: 0px;
}

.input {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0,0, 0.13);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 17px;
    width: 100%;
    transition: 0.15s all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.15s all;
    -moz-transition: 0.15s all;
    -ms-transition: 0.15s all;
    -o-transition: 0.15s all;
}

.input:focus {
    border-color: #0d6efd !important;
    outline: none;
}

@media only screen and (max-width: 768px){
    .label{
        font-size: 14px;
    }

    .label.active{
        font-size: 13px;
    }
}